{% extends "curriculum/base.html" %}

{% block title %}Change Password - dev_wizard{% endblock %}

{% block content %}
    <div class="auth-card">
        <h1>Change Password</h1>
        <p class="page-intro">Update your password. You will stay logged in after changing it.</p>

        <form method="post" class="auth-form">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="form-field">
                {{ form.old_password.label_tag }}
                {{ form.old_password }}
                {{ form.old_password.errors }}
            </div>

            <div class="form-field">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>

            <div class="form-field">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>

            <button type="submit">Change password</button>
        </form>
    </div>
{% endblock %}